*{
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
}

.block1{
    background-color: pink;
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    margin: 10px 20px;
}

.block2{
    background-color: #34495E;
    border-radius: 20px;
    padding: 10px 21px;
    color: white;
    width: 350px;
    margin: 15px 120px;
}

.block3{
    background-color: LightGrey;
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    margin: 10px 20px;
}
h3{
    font-style: italic;
}
